/* HTML */
body {
  padding: var(--lk-size-40px) var(--lk-size-40px) var(--lk-size-0px)
    var(--lk-size-40px);
}
/* LIST */
ul {
  list-style-position: inside;
}
li {
  padding: var(--lk-size-8px) var(--lk-size-0px);

  text-indent: -22px;
  padding-left: 22px;
}
/* LINK */
a {
  color: var(--lk-theforce-primary);
}
a:visited {
  color: yellow;
}
a:focus {
  color: red;
}
a:active {
  color: aqua;
}

/* CONTAINER */
/* #downloadcv { */
/* width: 1440px; Evitar divisiones de página */
/* page-break-inside: avoid; Usa esta propiedad para prevenir cortes no deseados en el PDF:
} */

/* HIGHLEVEL COMPONENT */
/* TAGS */
.tag {
  border-radius: var(--lk-size-4px);
  padding: var(--lk-size-2px) var(--lk-size-8px);
  background-color: var(--lk-base-color-neutral-90);
  color: var(--lk-theforce-white);
  font-size: var(--lk-fontsize-12px);
  width: fit-content;
  height: fit-content;
}

.tag--primary {
  background-color: var(--lk-theforce-primary-inv);
  color: var(--lk-theforce-onPrimary-inv);
}
.tag--secondary {
  display: inline;
  background-color: var(--lk-theforce-gray);
  color: var(--lk-theforce-black);
  font-size: var(--lk-fontsize-8px);
}

.card-exp__keywords_wrapper {
  display: flex;
  flex-wrap: wrap;

  gap: 4px;
  flex-grow: 5;
}
.card-exp__prod-keywords-wrapper {
  display: flex;
  gap: var(--lk-size-8px);
  /* flex-wrap: wrap; */
  width: fit-content;
  align-items: stretch;
  white-space: nowrap;
}
.card-exp__prod-built-wrapper {
  display: flex;
  padding-top: var(--lk-size-2px);
  gap: var(--lk-size-8px);
  flex-direction: row;
  flex-wrap: wrap;
}

/* .card-exp__prod-built {
} */

.card-exp__summary {
  font-weight: 600;
  padding-top: var(--lk-size-16px);
}
.card-exp__prod-keywords {
  font-variant-caps: all-small-caps;
  text-decoration-line: underline;
  text-underline-offset: var(--lk-size-4px);
  flex-direction: row;
}

/* GRID */
.main-column {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  gap: var(--lk-size-16px);
}

.nx {
  grid-column: 1/2;
  grid-row: 3/6;
}

/* WRAPPER TITLE */
/* WRAPPER MAIN DESCRIPTION */
.main-description-wrapper {
  display: flex;
  flex-direction: row;
  padding: var(--lk-size-0px) var(--lk-size-24px) var(--lk-size-24px)
    var(--lk-size-0px);
  gap: var(--lk-size-40px);
  align-items: top;
  align-content: flex-start;
}

/* MAIN DESCRIPTION WRAPPER - OBJECT#1 */

/* .main-description-wrapper {
} */

/* .main-description__title-wrapper {
  background-color: red;
} */

.main-description__title {
  color: var(--lk-theforce-primary);
}
.main-description__divider {
  color: var(--lk-theforce-gray);
}
.main-description__year-of-exp {
  font-size: var(--lk-fontsize-18px);
  font-weight: 600;
  font-variant-caps: all-small-caps;
}

.main-description__content {
  display: flex;
  flex-direction: column;
  gap: var(--lk-size-24px);
  padding-top: var(--lk-size-8px);
}
/* CONTACT WRAPPER - OBJECT#2 */

.main-description__contact-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: var(--lk-fontsize-8px);
  padding-left: var(--lk-fontsize-20px);
  gap: var(--lk-size-20px);
  height: auto;
}

.main-description__contact-header-wrapper {
  gap: var(--lk-size-8px);
}

.main-description__contact-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--lk-fontsize-px);
}
.main-description__portfolio-items-wrapper {
  padding-top: var(--lk-fontsize-8px);
  display: flex;
  flex-direction: row;

  gap: var(--lk-size-8px);
}
.main-description__contact-link {
  padding-bottom: var(--lk-size-8px);
  list-style: none;
  font-size: medium;
  font-weight: 400;
}

.main-description__contact-link__inline {
  display: inline;
}

/* WRAPPER - SECTION JOB EXPERIENCE - OBJECT#3 */
.section-wrapper-job-experience {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-auto-flow: dense; /* Intenta llenar los huecos */
  gap: var(--lk-size-24px);
  background-color: rgb(234, 246, 227);
}
/* WRAPPER - JOB EXPERIENCE */
.job-experience-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--lk-size-24px);
}

/* CARD - JOB EXPERIENCE */

.card-exp {
  display: flex;
  flex-direction: column;
  gap: var(--lk-size-4px);
  padding: var(--lk-size-24px) var(--lk-size-24px) var(--lk-size-24px)
    var(--lk-size-24px);
  background-color: var(--lk-theforce-surface-container);
  border-radius: var(--lk-size-8px);

  /* LEFT BORDER */
  /* REMINDER: I have 2 borders because I dont know how to add just the left padding */
  border: 0;
  border-left: var(--lk-size-4px);
  border-style: solid;
  height: max-content;
}

/* TITLE ROLE */
.card-exp__header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--lk-size-8px);
}

.card-exp__role {
  flex-grow: 1;
  font-style: normal;
  font-size: var(--lk-fontsize-24px);
  color: var(--lk-theforce-primary);
  margin: 0;
}

/* BUSINESS SIZE & MODEL */
/* BUSINESS INFO */

.card-exp__industry-and-duration-wrapper {
  display: flex;
  align-items: center;
}
.card-exp__company-industry {
  flex-grow: 1;
  font-variant-caps: all-small-caps;
}

.card-exp__business-tags {
  display: flex;
  gap: var(--lk-size-8px);
}
/* BUSINESS INFO — Date */

.card-exp__company-starting-date {
  font-variant-caps: all-small-caps;
}

.card-exp__company-separator {
  padding: 0 var(--lk-size-4px);
}

.card-exp__company-ending-date {
  font-variant-caps: all-small-caps;
}
.card-exp__company-ending-date--present {
  font-size: var(--lk-fontsize-18px);
  font-weight: 600;
  text-underline-offset: var(--lk-size-4px);
  text-decoration: underline;
  font-size: var(--lk-fontsize-18px);
  font-style: 10px;
}

/* WRAPPER SKILL SET - OBJECT#4 */
.skill-set__wrapper {
  display: inline-block;
  padding: var(--lk-size-24px) var(--lk-size-24px) 0 var(--lk-size-24px);
  height: fit-content;
  width: 100%;
  border-radius: var(--lk-size-8px);
  color: var(--lk-theforce-onSurface-container-05);
  background-color: var(--lk-theforce-surface-container-05);

  /* REMOVE THIS BG AFTER ALINGMENTS */
}

.skill-set__title {
  font-weight: 600;
  color: var(--lk-base-color-purple-10);
  padding-bottom: var(--lk-size-8px);
  /* font-style: italic; */
  font-variant: all-small-caps;
  /* padding-top: var(--lk-fontsize-24px); */
}

.skill-set__section {
  padding-bottom: var(--lk-size-32px);
}

.skill-set__sub-section {
  padding-bottom: var(--lk-size-20px);
}

.skill-set__subtitle {
  padding-top: var(--lk-size-8px);
  padding-bottom: var(--lk-size-4px);
  color: var(--lk-theforce-onSurface-container-05);
  font-weight: 600;
  font-variant: all-small-caps;
  font-size: medium;
}

/* FOOTER */
.NEW-CONTAINER {
  /* background-color: rgb(250, 250, 250); */
  /* background-color: var(--lk-theforce-onSurface-container-05); */
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 0.266);
}
.push-to-bot {
  display: flex;
  flex-grow: 1;
}
.CTA {
  display: flex;
  width: 100%;
  /* background-color: var(--lk-theforce-surface-container-05); */
  /* background-color: black; */
  /* margin-top: var(--lk-size-24px); */
  padding: var(--lk-size-24px);
  align-items: flex-end;
  border-radius: var(--lk-size-4px) var(--lk-size-4px) var(--lk-size-0px)
    var(--lk-size-0px);
}

/* FOOTER CONTACT WRAPPER - OBJECT#6-non-defined */

.CTA__contact-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: var(--lk-fontsize-8px);
  gap: var(--lk-size-16px);
  height: auto;
  /* background-color: aliceblue; */
}

.CTA__contact-header-wrapper {
  /* padding-bottom: var(--lk-size-16px); */
  display: flex;
  flex-direction: column;
  border-left-color: black;
  padding-left: var(--lk-fontsize-16px);
  gap: var(--lk-fontsize-16px);
}

.CTA__title {
  color: black;
}
.CTA__contact-link {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.CTA__portfolio-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--lk-size-8px);
  padding-top: var(--lk-size-8px);
}

.CTA__soft {
  color: var(--lk-theforce-onSurface-container-05);
}

.CTA__hard {
  color: var(--lk-theforce-onSurface-container-05);
}

/*  */
.downloadcv {
  break-after: avoid-page;
  page-break-inside: avoid;
}
/*  */
/* Use it as a tool to map the box model */
.XX {
  border: purple;
  background-color: rgba(255, 0, 0, 0.079);
  background-image: radial-gradient(
    circle,
    rgb(255, 0, 247) 1px,
    transparent 1px
  );
  background-size: 10px 10px;
  background-origin: padding-box; /* Aplica el fondo solo desde el borde del padding */
}
