Tokens :root {
  --lk-color-primary: indigo;
  --lk-color-secondary: #2ecc71;
  --lk-color-accent-purple: var(--lk-color-primary);
}
/* Toma el valor de primary 


/* Global selectors */
* {
  background-color: none;
  font-family: inter;
  margin: 0;
  padding: 0;
  /* Asegura que el ancho y alto incluya el padding y border */
}

/* Body selector */
body {
  padding: 3.5rem 3.5rem;
  /* Preservar para colores de bg/surface mas adelante */
  /* background-color: #1f1f 1f; */
  /* background-color: #515151; */
}

/* Use it as a tool to map the box model */
.ruler-p {
  /* Padding Rule */
  border: purple;

  background-color: rgba(255, 0, 0, 0.079);
  background-image: radial-gradient(
    circle,
    rgb(255, 0, 247) 1px,
    transparent 1px
  );
  background-size: 10px 10px;
  background-origin: padding-box; /* Aplica el fondo solo desde el borde del padding */
}

/**/

/**/

/**/

.card {
  &__header {
    background-color: red;
  }
  &__title {
    background-color: red;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--lk-color-accent-purple);
    margin: 0;
  }
}
